* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  color: #fff;
  background-color: #1661d3;
  padding: 50px;
}

main {
  padding: 30px 30px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

section.sec-cadastro {
  padding: 50px 0;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

section .campo-input label{
  display: inline-block;
  width: 80px;
  font-size: 1.1rem;
}

section input[type="text"]{
  outline: none;
  padding: 3px;
  font-size: 1.1rem;
}

section button {
  border: none;
  padding: 5px 15px;
  border-radius: 8px;
  width: 85px;
}

.btn-adcionar {
  background-color: #0e8f53;
  color: #fff;
  font-weight: bold;
  padding: 8px 10px;
  font-size: 1.02rem;
  width: auto;
}


section.sec-cadastrados {
  padding: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.sec-cadastrados div {
  width: 100%;
  max-width: 750px;
}

section.sec-cadastrados table {
  border-collapse: collapse;
  width: 100%;
}

th{
  background-color: #1661d3;
  color: #fff;
}

td, th {
  border: 1px solid black;
  padding: 8px 8px;
}

.btn-editar {
  border: none;
  background-color: #1661d3;
  color: #fff;
  font-weight: bold;
}

.btn-deletar {
  border: none;
  background-color: #d32c16;
  color: #fff;
  font-weight: bold;
  margin-left: 4px;
}

@media screen and (max-width: 1250px) {
  main {
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }
  .btn-deletar{
    margin-top: 4px;
    margin-left: 0;
  }
}