* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  color: #fff;
  background-color: #1661d3;
  padding: 50px;
}

main {
  padding: 0 6px;
}

section.sec-cadastro {
  padding: 50px 0;
}

h1 {
  font-size: clamp(2.1rem, 4vw, 2.6rem);
}

section h2 {
  text-align: center;
  margin-bottom: 28px;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

section form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

section .campo-input label{
  font-size: clamp(1rem, 3vw, 1.1rem);
  margin-right: 5px;
}

section input[type="text"]{
  outline: none;
  padding: 3px;
  font-size: 1.1rem;
  width: 100%;
  max-width: 220px;
}

section button {
  border: none;
  border-radius: 18px;
  color: #fff;
  padding: 4% 8%;
}

.btn-adcionar {
  background-color: #004927;
  color: #fff;
  padding: 8px 10px;
  font-size: 1.02rem;
}

section.sec-cadastrados {
  padding: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.sec-cadastrados div {
  width: 100%;
  max-width: 750px;
}

section.sec-cadastrados table {
  border-collapse: collapse;
  width: 100%;
}

th{
  background-color: #1661d3;
  color: #fff;
}

td, th {
  font-size: clamp(0.8rem, 2vw, 1.05rem);
  border: 1px solid black;
  padding: 8px 8px;
}

.btn-editar {
  border: none;
  background-color: #1661d3;
}

.btn-deletar {
  background-color: #d32c16;
  margin-left: 4px;
}

@media screen and (max-width: 1250px) {
  h1 {
    text-align: center;
  }
  form{
    flex-direction: column;
  }
  td, th{
    padding: 8px 4px;
  }
  label{
    display: inline-block;
    width: 74px;
  }
  .btn-deletar{
    margin-top: 4px;
    margin-left: 0;
  }
  .opcoes{
    display: flex;
    flex-direction: column;
  }
}